# created by virtualenv automatically
venv310/
/Search/project_degrees/degrees/large/
/Search/project_degrees/degrees/small/
/Knowledge/minesweeper/assets/
/Search/tictactoe/max_value.log
/Search/tictactoe/minimax.log
.DS_Store
/uncertainty/heredity/data/
/optimization/crossword/assets/
/optimization/crossword/data/
/optimization/crossword/output.png
/learning/shopping/shopping.csv
/neural_networks/traffic/gtsrb/
/neural_networks/traffic/requirements.txt
